<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>coder-camps-js</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/" />
	
	
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<a href="/users/auth/facebook" target="_self">FACEBOOK</a>
	<a href="/users/auth/twitter" target="_self">TWITTER</a>
	
	<ui-view></ui-view>
	<!-- Ext Libs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="/javascript/app.js"></script>
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/WelcomeController.js"></script>
</body>
</html>
