<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>coder-camps-js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body ng-controller="GlobalController as nav">
    <a href="/api/v1/users/auth/facebook" target="_self">FACEBOOK</a>
    <a href="/api/v1/users/auth/twitter" target="_self">TWITTER</a>
    <a href="/api/v1/users/auth/google" target="_self">GOOGLE</a>
    <button ui-sref="Home">Home</button>
    <button ui-sref="About">About</button>
    <button ui-sref="Log">Log In</button>
    <button ui-sref="Reg">Register</button>
    <button ng-click="nav.logout();">Log Out</button>
    <ui-view></ui-view>
    <!-- External Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <!-- Modules -->
    <script src="/javascript/app.js"></script>
    <!-- Services -->
    <script src="/javascript/services/UserFactory.js"></script>
    <script src="/javascript/services/SentimentFactory.js"></script>
    <script src="/javascript/services/TweetFactory.js"></script>
    <!-- Controllers -->
    <script src="/javascript/controllers/GlobalController.js"></script>
    <script src="/javascript/controllers/HomeController.js"></script>
    <script src="/javascript/controllers/WelcomeController.js"></script>
    <script src="/javascript/controllers/ProfileController.js"></script>
    <script src="/javascript/controllers/CandidateController.js"></script>
</body>

</html>
