body {
	font-family: "Lato";
	background-color: #A9F2D1
}

img {
	max-height: 250px !important;
	min-height: 20px !important;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Lato" !important;
}

#navBar {
	text-align: center;
	background-color: #B7B7B7;
	margin-bottom: 5px;
}

button {
	background-color: #3ED08E !important;
}

#btnMenu {
	margin-top: 5px;
}

#multiViz {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	border: solid 3px;
	height: 350px;
}

#multiVizBtn {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 5%;
	margin-right: 5%;
}

#multiVizData {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

#menuLink1 {
	color: rgba(0,0,0,.8);
	background-color: #3ED08E;
}

.tweet-stream-div {
	margin-top: 0px;
	margin-bottom: 0px;
}
