body {
	font-family: "Lato";
	background-color: #b3a7a5
}

img {
	max-height: 250px !important;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Lato" !important;
}

#navBar {
	text-align: center;
	background-color: #8B8C8C !important;
}

#btnMenu {
	margin-top: 10px;
}

#multiViz {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

#menuLink1 {
	color: rgba(0,0,0,.8);
}