<div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-8"></div>
        <div class="pure-u-1 pure-u-md-3-4" style="margin-bottom: 30px;">
            <h1>About the developers</h1>
        </div>
        <div class="pure-u-1 pure-u-md-1-8"></div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-8"></div>
        <div class="pure-u-1 pure-u-md-3-4">
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANhAAAAJGFiYWZhY2EwLWMzNjQtNDg1NC1hM2FiLTYyMWQxNGJiZDk4Yw.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                    <div class="aboutPadding">
                    <h2>Name - Project title</h2>
                    <p>Brief bio lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANhAAAAJGFiYWZhY2EwLWMzNjQtNDg1NC1hM2FiLTYyMWQxNGJiZDk4Yw.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                    <div class="aboutPadding">
                    <h2>Name - Project title</h2>
                    <p>Brief bio lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANhAAAAJGFiYWZhY2EwLWMzNjQtNDg1NC1hM2FiLTYyMWQxNGJiZDk4Yw.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                    <div class="aboutPadding">
                    <h2>Name - Project title</h2>
                    <p>Brief bio lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANhAAAAJGFiYWZhY2EwLWMzNjQtNDg1NC1hM2FiLTYyMWQxNGJiZDk4Yw.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                <div class="aboutPadding">
                    <h2>Name - Project title</h2>
                    <p>Brief bio lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANhAAAAJGFiYWZhY2EwLWMzNjQtNDg1NC1hM2FiLTYyMWQxNGJiZDk4Yw.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                <div class="aboutPadding">
                    <h2>Name - Project title</h2>
                    <p>Brief bio lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-8"></div>
    </div>
</div>
