
<h1>HOME</h1>

<h1>Candidate sentiment (over the past 5 minutes for testing -- changeable to whatever time period we want in tweetRoutes.js)</h1>
<p>Updating client side every 15 seconds. Pulling from last 5 minutes of data.</p>

<h2>Bernie's sentiment: {{vm.bernie}}</h2>
<h2>Clintons's sentiment: {{vm.clinton}}</h2>
<h2>Trump's sentiment: {{vm.trump}}</h2>
<h2>Bush's sentiment: {{vm.bush}}</h2>

<!-- <img id="this" ng-src="http://cdn2.thr.com/sites/default/files/imagecache/675x380/2014/09/too_good_for_grumpy_cat.jpg"> -->


<div class="pure-g">
    <div class="pure-u-1-4 pure-u-md-1-4">
    	<h3>Bernie Cat</h3>
    	<img id="bernie" src="https://pbs.twimg.com/profile_images/616542814319415296/McCTpH_E.jpg">
    </div>
    <div class="pure-u-1-4 pure-u-md-1-4">
    	<h3>Hillary Cat</h3>
    	<img id="hillary" src="https://pbs.twimg.com/profile_images/616542814319415296/McCTpH_E.jpg">
    </div>
    <div class="pure-u-1-4 pure-u-md-1-4">
    	<h3>Trump Cat</h3>
    	<img id="trump" src="https://pbs.twimg.com/profile_images/616542814319415296/McCTpH_E.jpg">
    </div>
    <div class="pure-u-1-4 pure-u-md-1-4">
    	<h3>Bush Cat</h3>
    	<img id="bush" src="https://pbs.twimg.com/profile_images/616542814319415296/McCTpH_E.jpg">
    </div>
</div>