<h1>Password Reset</h1>
<br>
<p> You can reset your password in one of two ways.  You can choose to receive a
  5 digit code at your registered email or by SMS to your registered phone number </p>
<br>

<form name="sendCodeMethod" data-ng-submit="vm.sendCode()">
   <label> <input type="radio" ng-model="vm.sendCodeMethod" ng-value="sms">SMS</label><br/>
   <label> <input type="radio" ng-model="vm.sendCodeMethod" ng-value="email">eMail</label><br/>
   <button type="submit">Send</button>
</form>

<div ng-show=vm.sendCodeMethod>
    <form name="validateCode" data-ng-submit="vm.validateCode()">
       <input type="text" placeholder: "Enter code here" ng-model="vm.code"><br/>
       <button type="submit">Validate</button>
    </form>
</div>

<div ng-show=vm.codeValidated>
    <form name="passwordReset" data-ng-submit="vm.resetPassword()">
       <input type="password" ng-model="nav.user.password" placeholder="Password">
       <button type="submit">Submit</button>
    </form>
</div>

<div ng-show!=vm.codeValidated>
<br><p>Please try again!</p><br>
</div>
