<h1>Password Reset</h1>
<br>
<p> You can reset your password in one of two ways. You can choose to receive a 5 digit code at your registered email or by SMS to your registered phone number </p>
<br>
<form class="pure-form" data-ng-submit="vm.sendCode()">
    <fieldset>
        <input id="phone1" type="text" placeholder="Phone number" ng-model="vm.user.phoneNumber"> OR
        <input id="email1" type="text" placeholder="Email" ng-model="vm.user.email">
        <button type="submit" class="pure-button pure-button-primary">Send</button>
    </fieldset>
</form>
<div ng-show=vm.unregisteredPhone>
    <br>
    <p>The phone number you entered is not associated with any active account. Please re-enter a phone number associated with your account, or you can try entering your email instead</p>
    <br>
</div>
<div ng-show=vm.unregisteredEmail>
    <br>
    <p>The email you entered is not associated with any active account. Please re-enter your email, or you can try entering your phone number instead</p>
    <br>
</div>
<div ng-show=vm.sentCode>
    <form class="pure-form pure-form-aligned" data-ng-submit="vm.validateCode()">
        <fieldset>
            <div class="pure-control-group">
                <label for="code">Code</label>
                <input id="code" type="text" placeholder="Enter code" ng-model="vm.code.number">
            </div>
            <div class="pure-control-group">
                <label for="pass">Password</label>
                <input id="pass" type="password" placeholder="New password" ng-model="vm.code.password">
            </div>
            <button type="submit" class="pure-button pure-button-primary">Validate</button>
        </fieldset>
    </form>
</div>

<div ng-show=vm.sentEmail>
    <form class="pure-form pure-form-aligned" data-ng-submit="vm.validateEmailCode()">
        <fieldset>
            <div class="pure-control-group">
                <label for="code">Code</label>
                <input id="code" type="text" placeholder="Enter code" ng-model="vm.code.number">
            </div>
            <div class="pure-control-group">
                <label for="pass">Password</label>
                <input id="pass" type="password" placeholder="New password" ng-model="vm.code.password">
            </div>
            <button type="submit" class="pure-button pure-button-primary">Validate</button>
        </fieldset>
    </form>
</div>

<div ng-show=vm.wrongCode>
    <br>
    <p>The code you entered does not match the code that was sent to you. Please try again!</p>
    <br>
</div>
