<form stripe:form="vm.stripeCallback" name="checkoutForm">
    <input placeholder="Your Card Number" data-stripe="number" payments-validate="card" name="card" />
    <input placeholder="expiration month" data-stripe="exp-month" payments-validate="expiry" name="expiry" />
    <input placeholder="expiration year" data-stripe="exp-year" payments-validate="expiry" name="expiry" />
    <input placeholder="cvc" data-stripe="cvc" payments-validate="cvc" name="cvc" />
    <button type="submit">Submit</button>
</form>
<div ng-if="checkoutForm.card.$invalid">
    Error: invalid card number!
</div>
<div ng-if="checkoutForm.expiry.$invalid">
    Error: invalid expiration date!
</div>
<div ng-if="checkoutForm.cvc.$invalid">
    Error: invalid cvc!
</div>