<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Your page title</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>

<body>

<h3>REGISTRATION</h3>
<form class="pure-form" ng-submit="nav.register();">
    <fieldset>
        <input type="email" ng-model="nav.user.email" placeholder="Email">
        <input type="password" ng-model="nav.user.password" placeholder="Password">

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>

</body>
</html>
